<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="name"  value="Bob" />
    <add key="age"   value="42" />
    <add key="male"  value="true" />
    <add key="male2" value="t" />
    <add key="male3" value="x" />
    <add key="male4" value="1" />
    <add key="id"    value="679856895" />
    <add key="guid"  value="AF5B98A1-196D-4773-ADE1-1817A8D8BBDF" />
    <add key="rank"  value="3.2" />
    <add key="born"  value="1961-09-11" />
  </appSettings>
</configuration>